import { html } from "lit";
import { styles } from "./styles.css";
import { customElement, property } from "lit/decorators.js";
import { MobxLitElement } from "@adobe/lit-mobx";

@customElement("{{>tagName}}")
export class {{>pascalName}} extends MobxLitElement {
    static readonly TAG_NAME = "{{>tagName}}";
    static get styles() {
        return styles;
    }

    @property({ type: String })
    placeholderProperty: string = "";

    render() {
        return html`
            <h2>{{>pascalName}} Component</h2>
            <p>Welcome to the {{>pascalName}} Component</p>
        `;
    }
}
